

  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title>Sales Overview</mat-card-title>
          <div class="m-l-auto">
            <mat-form-field class="theme-select" appearance="outline">
              <mat-select value="mar">
                <mat-option>
                  zihduzh
                </mat-option>

                <mat-option>
                  zihduzh
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <canvas #chartCanvas></canvas>
      </mat-card-content>
    </mat-card>
  </div>