<div>
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">

      <div class="row p-10">
        <div class="d-flex w-100">
          <mat-card-title class="ms-2">View training sessions</mat-card-title>
          <div class="m-l-auto" style="margin-top: -4px;">
          </div>
        </div>

      </div>




      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <!-- First Name Column -->
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img
                  src="https://static.vecteezy.com/system/resources/previews/008/481/521/original/football-icon-3d-illustration-png.png"
                  alt="users" width="50" class="rounded-circle" />
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                    {{ element.notes}}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Last Name Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Date
            </th>
            <td mat-cell *matCellDef="let element">
              <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                {{ element.date | date: 'dd/MM/yyyy HH:mm'}}
              </h6>
            </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="Duration">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Duration
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.duration}} minutes
            </td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="TrainingType">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              TrainingType
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.trainingType === 'Tactical Training'">
                <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                  Tactical Training
                </span>
              </ng-template>
              <ng-template [ngIf]="element.trainingType === 'Physical Training'">
                <span class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">
                    Physical Training
                </span>
              </ng-template>
              <ng-template [ngIf]="element.trainingType == 'Technical Training'">
                <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                    Technical Training
                </span>
              </ng-template>

              <ng-template [ngIf]="element.trainingType == 'Goalkeeper Training'">
                <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                    Goalkeeper Training
                </span>
              </ng-template>
            </td> -->
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Training details">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Training details
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <button mat-icon-button color="primary" routerLink="/training/training-details/{{element._id}}">
                <mat-icon>edit</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
